* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

html {
    font-size  : 62.5%;
    font-family: sans-serif;
}

.header {
    margin: 20px 10px 0px 10px;
    align-items     : center;
    background-color: gray;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    box-shadow: inset 0 0 20px 3px rgb(179, 179, 179);
    display         : flex;
    height          : 38px;
    flex-direction  : row;
    justify-content : center;
    opacity: .8;
    width           : 98%;    
}

.header>img {
    width       : 20px;
    margin-right: 4px;
}

.main__title__Pokemon>img {
    width       : 20px;
    margin-right: 4px;
}

.header>h1 {
    color    : black;
    font-size: 15px;
}

.main {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    padding-bottom  : 15px;
    width: 98%;
}

.main__titleContainer {
    z-index: 1;
}

.main__title__Pokemon {
    align-items     : center;
    background-color: whitesmoke;
    box-shadow: 3px 3px 5px 3px rgb(175, 175, 175);
    border-radius   : 10px;
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    height          : 38px;
    margin-top      : 15px;
}

.main__icon {
    margin-right: 4px;
}

.image__pokemon {
    width: 270px;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.466));
}


#main__details {    
    box-shadow: 3px 3px 5px 3px rgb(175, 175, 175);
    display         : flex;
    flex-direction  : column;
    background-color:white;
    width           : 250px;
    border-radius   : 10px;
    padding-top     : 35px;
    padding-bottom  : 10px;
    margin-top      : -50px;
    opacity: .8;
    position: relative;
    top: 1rem;
}

.main__detail__info {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0 27px 0 27px;
    height         : 40px;
}

#footer {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: rgb(92, 135, 255);
    box-shadow: inset 0 0 20px 10px rgb(140, 169, 248);
    opacity: .8;
    width: 98%;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    margin: 0px 10px 20px 10px;
}

#footer__other:hover{
    box-shadow: 0px 3px 5px;
    cursor: pointer;
    transform: translateY(-5%);
}

#footer__other2 {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    width          : 70%;
}

.pokemos {
    width           : 80px;
    height          : 80px;
    border-radius   : 10px;
    padding         : 5px;
    margin          : 5px;
    background-color: white;
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}

.pokemos:hover{
    box-shadow: 0px 3px 5px;
    cursor: pointer;
    transform: translateY(-5%);
}

.pokemos img {
    width: 80px;
}

@media (min-width: 600px) {
    .header {
        justify-content: flex-start;
        padding-left   : 10px;
    }

    #footer {
        flex-direction : row;
        justify-content: space-around;
        padding-top    : 15px;
        padding-bottom : 15px;
    }

    .main {
        flex-direction : row;
        align-items    : center;
        justify-content: space-around;
    }

    .image__pokemon {
        width: 300px;
    }

    #main__details {
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-around;
        align-items    : center;
        width          : 250px;
        padding-top    : 20px;
        padding-bottom : 10px;
        margin-top     : 0;
        height         : 300px;
    }

    .main__detail__info {
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        padding        : 10px 0;
        width          : 100px;
        overflow       : hidden;
    }

    .main__detail__info h2, h3 {
        font-size : 1.5rem;
        margin    : 0;
        text-align: center;
    }

}

@media (min-width: 850px) {
    .image__pokemon {
        width: 400px;
    }

    #main__details {
        height: 350px;
    }

    .pokemos {
        transition: 0.2s ease-in-out;
    }

    .pokemos:hover {
        transform       : scale(1.1);
    }
}